<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original/70nxSw3mFBsGmtkvcs91PbjerwD.jpg"
        alt="Venom: Let There Be Carnage"
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">Venom: Let There Be Carnage</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon">star</span><span class="rating-value">7.5</span> <span>/10</span>
          </span>
          <span>463 Reviewes</span>
          <span>2014</span>
        </div>
      </div>
      <div class="desc mt-6">
        After finding a host body in investigative reporter Eddie Brock, the alien symbiote must face a new enemy,
        Carnage, the alter ego of serial killer Cletus Kasady.
      </div>
    </div>
  </div>
</div>
